<%-include('header')-%>

<h2>this is about page!</h2>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus error dolorum iusto accusantium rem laudantium explicabo porro doloribus. Fuga vero quidem aspernatur harum reiciendis illum facere provident dicta, quis maiores?</p>


<%-include("footer")-%>